@model AOCMDB.Models.Nodes.DatabaseNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatabaseNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatabaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatabaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatabaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatabaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            Upstream Server/Appliance Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Server Or Appliance Name
                    </th>
                    <th>
                        Friendly Name
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamServerOrApplianceDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServerOrApplianceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendlyName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "ServerOrAppliances", new { id = item.ServerOrApplianceId }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.DatabaseId })'" /> |
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
</p>
