@model AOCMDB.Models.Nodes.ServerOrApplianceNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServerOrApplianceNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatabaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatabaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServerOrApplianceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
