@model AOCMDB.Models.Nodes.SoftwareOrFrameworkNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SoftwareOrFrameworkNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareOrFrameworkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareOrFrameworkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt style="text-align: center;padding-top:4em">
            Downstream Application Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Application Name
                    </th>
                    <th>
                        Global Application ID
                    </th>
                    <th>
                        Database Revision
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetDownstreamApplicationDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatabaseRevision)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Applications", new { id = item.ApplicationId, version = item.DatabaseRevision }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.SoftwareOrFrameworkId })'" /> |
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
</p>
