@model AOCMDB.Models.Nodes.SoftwareOrFrameworkNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SoftwareOrFrameworkNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareOrFrameworkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareOrFrameworkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoftwareOrFrameworkStorageId }) |
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
</p>
