@model AOCMDB.Models.Nodes.ExternalLogicalStorageNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExternalLogicalStorageNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExternalLogicalStorageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalLogicalStorageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExternalLogicalStorageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
