@model AOCMDB.Models.Data.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalApplicationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalApplicationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkDiagramOrInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkDiagramOrInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrativeProcedures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrativeProcedures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientConfigurationAndValidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientConfigurationAndValidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerConfigurationandValidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerConfigurationandValidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecoveryProcedures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecoveryProcedures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criticality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criticality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
