@model AOCMDB.Models.Nodes.ApplicationNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalApplicationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalApplicationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkDiagramOrInventory)
        </dt>

        <dd>
            @Html.Raw(Model.NetworkDiagramOrInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrativeProcedures)
        </dt>

        <dd>
            @Html.Raw(Model.AdministrativeProcedures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>

        <dd>
            @Html.Raw(Model.ContactInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientConfigurationAndValidation)
        </dt>

        <dd>
            @Html.Raw(Model.ClientConfigurationAndValidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerConfigurationandValidation)
        </dt>

        <dd>
            @Html.Raw(Model.ServerConfigurationandValidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecoveryProcedures)
        </dt>

        <dd>
            @Html.Raw(Model.RecoveryProcedures)
        </dd>

        <dt>
            Upstream Application Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GlobalApplicationID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatabaseRevision)
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamApplicationDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatabaseRevision)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId, version = item.DatabaseRevision })
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            Downstream Application Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GlobalApplicationID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatabaseRevision)
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetDownstreamApplicationDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatabaseRevision)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId, version = item.DatabaseRevision })
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            Upstream Database Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Database Name
                    </th>
                    <th>
                        Friendly Name
                    </th>
                    <th>
                        Database Type 
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamDatabaseDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatabaseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendlyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatabaseType)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Databases", new { id = item.DatabaseId }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            Upstream External Logical Storage Dependencies
        </dt>
            
        <dd>
            <table class="table">
                <tr>
                    <th>
                        External Logical Storage Name
                    </th>
                    <th>
                        Friendly Name
                    </th>                    
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamExternalLogicalStorageDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExternalLogicalStorageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendlyName)
                        </td>                        
                        <td>
                            @Html.ActionLink("Details", "Details", "ExternalLogicalStorages", new { id = item.ExternalLogicalStorageId }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            Upstream Server/Appliance Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Server Or Appliance Name
                    </th>
                    <th>
                        Friendly Name
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamServerOrApplianceDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServerOrApplianceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendlyName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "ServerOrAppliances", new { id = item.ServerOrApplianceId }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>


        <dt>
            Upstream Software and Framework Dependencies
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Software Or Framework Name
                    </th>
                    <th>
                        Friendly Name
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.GetUpstreamSoftwareOrFrameworkDependencies())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoftwareOrFrameworkName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendlyName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "SoftwareOrFrameworks", new { id = item.SoftwareOrFrameworkId }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>


</div>
<p>
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.ApplicationId, version = Model.DatabaseRevision })'" /> |
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
</p>
