@model IEnumerable<AOCMDB.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlobalApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkDiagramOrInventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdministrativeProcedures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientConfigurationAndValidation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerConfigurationandValidation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecoveryProcedures)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkDiagramOrInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdministrativeProcedures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientConfigurationAndValidation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerConfigurationandValidation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecoveryProcedures)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
