@model IEnumerable<AOCMDB.Models.Nodes.ApplicationNode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBox("SearchTerm")
    
    List<SelectListItem> items = new List<SelectListItem>();

     items.Add(new SelectListItem { Text = "Application Name", Value = "ApplicationName"});

     items.Add(new SelectListItem { Text = "Global Application ID", Value = "GlobalApplicationID" });

     items.Add(new SelectListItem { Text = "Site URL", Value = "SiteURL"});

     items.Add(new SelectListItem { Text = "Network Diagram or Inventory", Value = "NetworkDiagramOrInventory" });

     items.Add(new SelectListItem { Text = "Administrative Procedures", Value = "AdministrativeProcedures"});

     items.Add(new SelectListItem { Text = "Contact Information", Value = "ContactInformation" });

     items.Add(new SelectListItem { Text = "Client Configuration and Validation", Value = "ClientConfigurationAndValidation"});

     items.Add(new SelectListItem { Text = "Server Configuration and Validation", Value = "ServerConfigurationandValidation" });
    
     items.Add(new SelectListItem { Text = "Recovery Procedures", Value = "Recovery Procedures" });

     items.Add(new SelectListItem { Text = "All", Value = "All", Selected = true });
     
    <text>Search Field:</text>
    @Html.DropDownList("SearchField", items)
    
    <input type="submit" value="Search" class="btn btn-default" />
}
</p>

<p>
    <input type="button" value="Create New" onclick="location.href='@Url.Action("Create")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlobalApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatabaseRevision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.DatabaseRevision)
        </td>    
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId, version = item.DatabaseRevision })
        </td>
    </tr>
}

</table>
