@model IEnumerable<AOCMDB.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlobalApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatabaseRevision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlobalApplicationID)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.DatabaseRevision)
        </td>    
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationId, version=item.DatabaseRevision }) |
            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId, version = item.DatabaseRevision })
        </td>
    </tr>
}

</table>
